BOT_TOKEN=8726173390:AAGoBPDcRxqL1PZC7yrg57hqNpDdU5eGjwo
BOT_TIMEZONE=Europe/Moscow
BOT_ADMINS=[8795006636]
BOT_MODERS=[00000000]
BOT_USE_REDIS=False

DB_HOST=dpg-d7p92e1j2pic7385c11g-a
DB_PORT=5432
DB_NAME=anonik
DB_USER=anonchatbro
DB_PASSWORD=YxxPw2PEWxtB2uLkXz5oaDRJiYIFW2cM

REDIS_HOST=redis
REDIS_DB=13

PAYMENTS_API_ID=YOUR_API_ID
PAYMENTS_API_KEY=YOUR_API_KEY
PAYMENTS_PROJECT_ID=YOUR_PROJECT_ID
PAYMENTS_PROJECT_SECRET=YOUR_PROJECT_SECRET
PAYMENTS_ENABLED=False
