BOT_TOKEN=8726173390:AAGoBPDcRxqL1PZC7yrg57hqNpDdU5eGjwo
BOT_TIMEZONE=Europe/Moscow

BOT_ADMINS=[8795006636]
BOT_MODERS=[8795006636]

BOT_USE_REDIS=False

DB_HOST=db
DB_PORT=5432
DB_NAME=anonik
DB_USER=root
DB_PASSWORD=toor

REDIS_HOST=redis
REDIS_DB=13

PAYMENTS_ENABLED=False
