token=8726173390:AAGoBPDcRxqL1PZC7yrg57hqNpDdU5eGjwo
timezone=Europe/Moscow

admins=[8795006636]
moders=[8795006636]

use_redis=False

db_host=db
db_port=5432
db_name=anonik
db_user=root
db_password=toor

redis_host=redis
redis_db=13

payments_enabled=False
